.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form input {
    margin-top: 10px;
    width: 250px;
}

.form button {
    margin-top: 10px;
    width: 100px;
}